@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.dock {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100vw - 20px);

    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;

    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    border: black solid 1px;
    border-radius: 10px;
    background-color: white;
    padding: 10px 20px;
}

.dock a {
    text-decoration: none;
    color: inherit;
}

.logo {
    justify-self: start;
}

.web {
    font-family: "Imperial Script", cursive;
    font-size: 25px;
}

.logo a {
    display: flex;
    align-items: center;
    gap: 6px;
}

.nav {
    justify-self: center;
    display: flex;
    gap: 100px;
}

.auth {
    justify-self: end;
}

.welcome {
    padding: 0 0 0 20px;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;

}

.welcome h2 {
    margin: 15px 0 10px;
}

.welcome p {
    margin: 0 0;
    font-family: "Georgia", serif;
    font-size: 16px;
}

.dashboard {
    display: grid;
    grid-template-columns: 1.7fr 1.5fr 1.5fr 1.5fr;
    gap: 10px;
    padding: 60px 2px 2px 0;

    font-family: "Pixelify Sans", sans-serif;
    font-size: 18px;
}

#load {
    font-family: "Georgia", serif;
    margin: 5px 0 0;
    white-space: nowrap;
}

#storage-left {
    font-family: "Georgia", serif;
    font-size: 16px;
    margin: 10px 0 0;
    align-self: flex-end;
}

.widget {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 10px;
    padding: 5px;
}

.widget p {
    margin: 0;
}

.chart-bandwidth {
    margin: 5px 0;
    border: 1px solid black;
    width: 300px;
    height: 75px;
}

.chart-bandwidth polyline {
    stroke: blue;
    fill: none;
    stroke-width: 5px;
}

.chart-bandwidth .area {
    fill: blue;
    opacity: 0.1;
}

.chart-requests {
    margin: 5px 0;
    border: 1px solid black;
    width: 300px;
    height: 75px;
}

.chart-requests polyline {
    stroke: red;
    fill: none;
    stroke-width: 5px;
}

.chart-requests .area {
    fill: red;
    opacity: 0.1;
}

.workplace {
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    font-family: "Georgia", serif;
    margin: 20px 10px 0;
}

.canvas h2 {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 30px;
}

#board {
    width: 95%;
    height: calc(90vh - 290px);
    border: 1px solid lightgray;
    border-radius: 10px;
}

.drive h2 {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 30px;
}

.explorer {
    width: 100%;
    border-collapse: collapse;
    font-family: "Georgia", serif;
    font-size: 16px;
}

.explorer th,
.explorer td {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.explorer th {
    text-align: center;
}

.explorer td {
    text-align: left;
}

.explorer tr:hover {
    background-color: #E5F1FB;
}

.file {
    display: flex;
    align-items: center;
    gap: 8px;
}

.file svg {
    width: 18px;
    height: 18px;
}

.config {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.config button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid lightgray;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    padding: 5px;
}

.config button svg {
    width: 17px;
    height: 17px;
}

.config button:hover {
    background-color: #E5F1FB;
}

.config button:last-child {
    color: #e57373;
}

.contact {
    display: flex;
    text-align: right;
    justify-content: right;
    font-family: "Pixelify Sans", sans-serif;
    margin: 10px 20px;
}